# Total number of servers (n)
num_servers = 5

# Reconstruction threshold (K) -- (must be less than or equal to num_servers)
reconstruction_threshold = 3

# Maximum tolerable faults for safety (t) -- (must be less than K, typically [(n-1)/2])
max_safety_faults = 2

# Maximum tolerable faults for liveness -- given by floor([(n - t - 1)/2])
max_liveness_faults = 1

# Each server's address and port
server.1 = 127.0.0.1:65010
server.2 = 127.0.0.1:65020
server.3 = 127.0.0.1:65030
server.4 = 127.0.0.1:65040
server.5 = 127.0.0.1:65050
